/* custom fonts */
@font-face {
  font-family: "LaBelleAurore";
  src: url("./fonts/LaBelleAurore-Regular.woff2") format("woff2"),
       url("./fonts/LaBelleAurore-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GamjaFlower";
  src: url("./fonts/GamjaFlower-Regular.woff2") format("woff2"),
       url("./fonts/GamjaFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* background of page */
body, html {
    background-color: #2E4D44;
    margin: 0;
    padding: 0;
}

/* default headers and font styles */
h1 {
    color: #f5f5dc;
    font-family: "LaBelleAurore", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 8vw;
}

h3{
    color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5vw;
}

h4 {
    color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4vw;

}

p {
    color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
    font-size: 3vw;
}

ul {
    color:#f5f5dc;
    font-family: "GamjaFlower", cursive;
    font-size: 3vw;

}

img {
    max-width: 100%;
    height: auto;
}

/* Navigation Bar Styling */
.navbar {
    position:sticky;
    top: 0;
    width: 100%;
    background-color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navdiv{
    display: flex; align-items: center;
    justify-content: space-evenly;   
}

/* Navigation bar individual tabs */
.navdiv ul {
    list-style-type: none;
}

.navdiv li { 
    float: left;
}

.navdiv li a {
    display:block; 
    background-color: #2E4D44;
    color: #f5f5dc;
    text-align:center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 3vw;
}

.navbar ul li a.active {
    background-color: #be8457;
}

.navbar ul li a:hover {
    background-color:#be8457e3;
}

/* typewriter animation */
.typewriter {
    text-align: center;

}

.typewriter h1{
    /* font-size: 6vw; */
    display: inline-block;
    overflow: hidden;
    border-right: .05em solid #f5f5dc;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .17em;
    animation:
        typing 3.5s steps(30,end),
        blinking-cursor .5s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 17ch; }
}

@keyframes blinking-cursor {
    from, to {border-color: transparent}
    50% { border-color: #f5f5dc;}
}

/* decorative images */
.splash {
    position: static;
    top: 0;
    left: 0;
}
.splash img {
    width: 100%;
    height: auto;
    display: block;
}

.splash_btm{
    position: static;
    bottom: 0;
    right: 0;
}
.splash_btm img {
    width: 100%;
    height: auto;
    display: block;
}

/* headshot photo */
.headshot {
    padding-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Resume Section Styling */
.resume_section {
    display: block;
    margin-left: 5%;
}

.resume_section h3 a {
    text-decoration: none;
    color: #f5f5dc;
}
.resume_section h3 a:hover {
    color:#be8457;
}
