@font-face {
  font-family: "LaBelleAurore";
  src: url("./fonts/LaBelleAurore-Regular.woff2") format("woff2"),
       url("./fonts/LaBelleAurore-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GamjaFlower";
  src: url("./fonts/GamjaFlower-Regular.woff2") format("woff2"),
       url("./fonts/GamjaFlower-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
    background-color: #2E4D44;
}

.navbar {
    background-color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navdiv{
    display: flex; align-items: center;
    justify-content: space-evenly;   
}

.splashpage {
    position: relative;
}

.bkgrnd {
    width: 100%;
    height: 100%;
}

.foreground {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
}

h1 {
    color: #f5f5dc;
    font-family: "LaBelleAurore", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 64px;
}

p {
    color: #f5f5dc;
    font-family: "GamjaFlower", cursive;
}

/* Navigation Bar Styling */
ul {
    list-style-type: none;
}
li { 
    float: left;
}
li a {
    display:block; 
    background-color: #2E4D44;
    color: #f5f5dc;
    text-align:center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 48px;
}
